@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-one: #8261EE;
    --color-two: #FF589E;
    --color-text-light: #777D80;
    --color-text: #1e1e1e;;
    --font: "Raleway", sans-serif;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 18px 32px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    color: var(--color-text);
    font-family: var(--font);
    line-height: 1.6;
}

a{
    text-decoration: none;
    color: var(--color-text);
}

a:hover{
    color: var(--color-two);
    text-decoration: none;
}
/* end header */